body {
    background: lightskyblue;
    font-size: 20px;
}

h1, h2{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}


.centralizar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.conteudo-padrao {
    box-shadow: 2px 2px 30px, -2px -2px 30px;
    border-radius: 15px;
    background: rgb(44,34,195);
    background: linear-gradient(0deg, rgba(44,34,195,1) 0%, rgba(45,253,247,1) 100%);
    text-align: center;
}

.img-resize {
    width: 100%;
    height: auto;
    max-width: 700px;
}

.texto-pag{
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    background: rgb(44,34,195);
    background: linear-gradient(0deg, rgb(97, 88, 224) 0%, rgba(45,253,247,1) 100%);
}

nav ul {
    text-align: center;
}
 
  nav li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(97, 88, 224) 0%, rgba(45,253,247,1) 100%);
    color: white;
    transition: 0.5s;
  }

  nav li:hover {
    transform: scale(1.1);
    
}

footer{
    margin-bottom: 20px;
}

footer a {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(0deg, rgb(97, 88, 224) 0%, rgba(45,253,247,1) 100%);
    text-decoration: none;
    font-size: 20px;
}
