body {
    text-align: center;
    background: lightskyblue;
}

h1, h2{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

h3{
    font-size: 25px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

#foto {
    width: 250px ;
    height: 250px ;
   border-radius: 50%;
   border: 5px solid white;
}

.logos img {
    padding: 10px;
    width: 75px;
    height: 75px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}
footer a {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(0deg, rgb(97, 88, 224) 0%, rgba(45,253,247,1) 100%);
    text-decoration: none;
}